.card {
  width: 250px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  border-radius: 8px;
}

.price {
  color: red;
  font-weight: bold;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: gray;
}
